body {
  padding: 0px;
margin: 0px;
  height: 100vh;
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* padding: 20px; */
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #334651;
  overflow: hidden;
}

.content-container {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 500px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 10px;
}
.form-container {
  /* height: 100%; */
  width: 50%;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-direction: column;
  row-gap: 10px;
  
}
.login-input {
  width: 100%;
}
#login-button {  
  /* margin: 0px; */
  margin-left: auto;
}
.shiny-true {
  color: goldenrod;
}